@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}
.backGround{
    display: flex;
    justify-content: space-between;
}

/* Estilo para as colunas */
.coluna {
    margin-top: 3rem;
    margin: 3rem;
    display: flexbox;
    width: 350px;
    height: 700px;
    background-color: #4D4545;
    border: 1px solid black ;
    border-radius: 20px;
}


/*Titulp colunas*/
.tituloColunas{

background-color:  #6F6565;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;

}

/*Nav-Bar*/
.Barra {
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
height: 50px;
background-color:#6F6565 ;

}

.Logo{
    color: #FA7878;
    font-family: 'Inter';
    margin: 1%;
    font-size: 35px;
}



/* Estilo para as opções de cores */
.opcoes-cores {
    display: none;
    margin-top: 10px;
}

.cor {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    border: 2px solid #000;
    cursor: pointer;
}


/*Tarefas */
.tarefa {
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 10px;
    margin: 1%;
    position: relative;
    cursor: pointer;
}

.excluir-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilo para a coluna de tarefas */
.tarefa-textarea {
    width: 100%;
}


.cabeçalho{
    background-color: #FA7878;
    margin: 1%;
}