* {
    margin: 0;
}

.logo{

    color: salmon;
    align-items: start;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo padrão */
}

/* Estilos CSS para a barra de navegação */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex; /* Usar o display flex para alinhar os itens */
    justify-content: space-between; /* Alinhar os itens ao espaço entre eles */
    align-items: center;
}

/* Estilos CSS para o botão */
.button_nav {
    width: 40px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    border-radius: 50%; /* Bordas arredondadas para criar um botão redondo */
    background-color: #333; /* Cor de fundo do botão */
    border: none; /* Remova a borda */
    cursor: pointer;
    overflow: hidden; /* Ocultar conteúdo que extrapolar os limites do botão */
    display: flex; /* Permitir que a imagem e o input fiquem lado a lado */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

.button_nav img {
    width: 25px; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fixar o rodapé na parte inferior */
    bottom: 0; /* Colocar na parte inferior */
    left: 0; /* Alinhar à esquerda */
    right: 0; /* Alinhar à direita */
}

.container_coluna {
    position: fixed;
    top: 67px;
    left: 10px;
    width: 200px;
    height: 75%;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: start; /* Centralizar horizontalmente */
}

.container_add{
    position: absolute;
    top: 67px;
    left: 270px;
    width: 200px;
    height: 75%;
    background-color: #a7a7a7;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: start; /* Centralizar horizontalmente */
    justify-content: center;
}

.container_header {
    width: 100% !important;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    background: #6F6565;
    position: absolute;
    top: 0px;
    margin-left: -20px; 
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos CSS para o seletor de cores */
#color {
    width: 30px; /* Largura do seletor de cores */
    height: 30px; /* Altura do seletor de cores */
    border: none; /* Remova a borda padrão */
    padding: 0; /* Remova qualquer preenchimento */
}

.botaoExcoluna{
    width: 40px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    border-radius: 50%; /* Bordas arredondadas para criar um botão redondo */
    background-color: #6F6565; /* Cor de fundo do botão */
    border: none; /* Remova a borda */
    cursor: pointer;
    margin-top: 5px;
}

.botaoExtarefa{
    position: absolute;
    margin-left: 80%;

    width: 35px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    border-radius: 50%; /* Bordas arredondadas para criar um botão redondo */
    background-color: #6F6565; /* Cor de fundo do botão */
    border: none; /* Remova a borda */
    cursor: pointer;
    margin-top: 5px;
}

.tituloColuna{
    margin-left: 25%;
    margin-top: 4%;
}

.tituloTarefa{
    position: absolute;
    margin-left: 25%;
    margin-top: 4%;
}

.colorometro{
    color: white;
    display: flex; /* Usar o display flex para alinhar os itens */
    justify-content: end; /* Alinhar os itens ao espaço entre eles */
    height: 150px;
    opacity: 0;
}

.coorometro_div{
    width: 200px;
    background-color: black;
    cursor: pointer;
}

.vermelho{
    background-color: #f44336;
    width: 30%;
    height: 25px;
    margin-left: 53%;
    margin-top: 2%;
    cursor: pointer;
}

.azul{
    background-color: #00ffff;
    width: 30%;
    height: 25px;
    margin-left: 53%;
    margin-top: 2%;
    cursor: pointer;
}

.verde{
    background-color: #7fff00;
    width: 30%;
    height: 25px;
    margin-left: 53%;
    margin-top: 2%;
    cursor: pointer;
}

.branco{
    background-color: #ffffff;
    width: 30%;
    height: 25px;
    margin-left: 53%;
    margin-top: 2%;
    cursor: pointer;
}

.roxo{
    background-color: #663399;
    width: 30%;
    height: 25px;
    margin-left: 53%;
    margin-top: 2%;
    cursor: pointer;
}

.color_bar{
    width: 100px;
}

.tarefa{
    background-color: #ffffff;
    width: 85%;
    height: 120px;
    position: absolute;
    top: 65px;
    margin-left: -1px; 
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.tarefa_header {
    width: 100% !important;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    background: #6F6565;
    position: absolute;
    top: 0px;
    margin-left: 0px; 
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.add_coluna{
    position: absolute;
    width: 80px; /* Largura do botão */
    height: 80px; /* Altura do botão */
    border-radius: 50%; /* Bordas arredondadas para criar um botão redondo */
    background-color: #a7a7a7; /* Cor de fundo do botão */
    border: none; /* Remova a borda */
    cursor: pointer;
    margin-top: 165px;  
}

.add_tarefa{
    background-color: #a7a7a7;
    width: 85%;
    height: 127px;
    position: absolute;
    top: 205px;
    margin-left: -1px; 
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
}


.bt_addtarefa{
    background-color: #a7a7a7;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: none;
    cursor: pointer;
    
 }

 .img_btaddtarefa{
    background-size: cover;
    cursor: pointer;
    text-align: center;
 }
